* {
  padding: 0;
  margin: 0;
}

:root {
  --lowercolour: #d4d4c6;
  --formcolour: #e5e5d7;
  --stripcolour: #b2b2b2;
  --buttoncolour: rgb(119, 74, 7);
  --brighttext: rgb(230, 230, 230);
}

body {
  position: relative;
  background-color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Anton;
  src: url(Anton-Regular.ttf);
}

img {
  height: 75rem;
  width: auto;
}

#imagecredit {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: white;
}

#imagecredit > a {
  color: white;
}

#banner {
  position: absolute;
  top: 35%;
  left: 0%;
  z-index: 1;
  width: 100%;
  opacity: 50%;
  color: white;
  background-color: black;
}

#banner > p {
  font-family: Anton;
  font-size: 8rem;
  font-weight: 50;
  text-align: center;
}

svg {
  width: 100%;
  height: 90%;
}

#g-text, #l-text {
  font-family: Tahoma, sans-serif;
  font-size: 0.65rem;
}

.forsvg {
  margin-top: -2rem;
}

div.actualpage {
  display: flex;
  flex-direction: row;
  width: clamp(850px, 80%, 1600px);
  height: 75rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow: hidden;
  z-index: 1;
  outline: 5px solid black;
}

.imagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.rightsidediv {
  background-color: var(--formcolour);
  /* width: max(50%, 650px)*/
  width: max(50%, 775px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textdiv {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--lowercolour);
  flex-grow: 1;
  max-width: 100%;
  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 6vw;
}

.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  background-color: var(--form-colour);
}

.shadowone, .shadowtwo {
  height: 0.5rem;
  width: 100%;
}

.shadowone {
  background: linear-gradient(var(--lowercolour), var(--stripcolour));
}

.shadowtwo {
  background: linear-gradient(var(--stripcolour), var(--lowercolour));
}



.lowerdiv {
  display: flex;
  flex-direction: column;
  background-color: var(--lowercolour);
  justify-content: space-around;
  gap: 2rem;
  padding-left: 2.5rem;
  padding-bottom: 14rem;
  padding-top: 3rem;
  width: 100%;
}

li > div {
  position: relative;
  background-color: var(--form-colour);
}

.divforh2 {
  display: flex;
  background-color: var(--form-colour);
  padding-bottom: 1.5rem;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

li + li {
  display: flex;
  flex-direction: row;
  background-color: var(--form-colour);
}

a.login {
  padding-left: 0.5rem;
  color: var(--buttoncolour);
}

label {
  position: absolute;
  font-size: 1.3rem;
  top: 1.5rem;
  left: 2.6rem;
}

ul {
  list-style-type: none;
}

input {
  width: 15rem;
  height: 2rem;
  outline: 1px solid brown;
  border-radius: 1px;
}

form {
  display: flex;
  flex-direction: column;
}

.accountbutton {
  color: var(--brighttext);
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  background-color: var(--buttoncolour);
  border: 5px solid #040404;
  border-radius: 2px;
  box-shadow: 2px 2px black;
}

.alreadyp {
  font-size: 1.3rem;
}

.login {
  font-size: 1.5rem;
}

li > div {
 padding: 3rem 2.5rem;
}

label > strong > span {
  position: absolute;
  color: red;
  font-family: Verdana, sans-serif;
  top: 0px;
  right: -0.75rem;
}

input.pwordinput:invalid {
  outline: 2px solid red;
  border-radius: 2px;
}

input:focus {
  outline: 2px solid blue;
  border-radius: 2px;
  box-shadow: 5px 5px 4px 3px #090909;
}

input:focus:invalid {
  outline: 2px solid red;
  border-radius: 2px;
}

input:focus:placeholder-shown {
  outline: 2px solid blue;
  border-radius: 2px;
  box-shadow: 5px 5px 4px 3px #090909;
}

input.pwordinput:invalid {
  outline: 2px solid red;
  border-radius: 2px;
  position: relative;
}

span.errorspan {
  color: red;
  position: absolute;
  bottom: 1.5rem;
  left: 2.5rem;
}
